.pagecloud {
	margin: 0 0 24px;
}

.sidebar {
	width: 30ex;
}

.inlineaudio {
	margin-top: .4em;
}

#audio {
	margin: 1em 2em;
}

#enclosure a[href^="http:"]:before,
#enclosure a[href^="https:"]:before,
#inlineenclosure a[href^="http:"]:before,
#inlineenclosure a[href^="https:"]:before {
	content: "↓ ";
}

.addcomment a[href]:before {
	content: "→ ";
}

.author {
	display: none;
}
