.pagecloud {
	margin: 0 0 24px;
}

.sidebar {
	width: 30ex;
}

.inlineaudio {
	margin-top: .4em;
}

#audio {
	margin: 1em 2em;
}

#enclosure a[href^="http:"]:after,
#enclosure a[href^="https:"]:after,
#inlineenclosure a[href^="http:"]:after,
#inlineenclosure a[href^="https:"]:after {
	content: "↓";
}

#addcomment a[href^="/cgi/"]:after {
	content: "→";
}
