<?xml version="1.0"?>
<rss version="2.0"
     xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:dcterms="http://purl.org/dc/terms/" >
<channel>
<title><TMPL_VAR TITLE></title>
<itunes:subtitle><TMPL_VAR FEEDDESC ESCAPE=HTML></itunes:subtitle>
<itunes:author>Amitai Schlair</itunes:author>
<itunes:summary><TMPL_VAR FEEDDESC ESCAPE=HTML></itunes:summary>
<itunes:owner>
	<itunes:name>Amitai Schlair</itunes:name>
	<itunes:email>schmonz@agilein3minut.es</itunes:email>
</itunes:owner>
<itunes:image href="https://agilein3minut.es/images/ai3m.png" />
<itunes:publisher>Implemications LLC</itunes:publisher>
<itunes:category text="Technology">
<itunes:category text="Software How-To" />
</itunes:category>
<link><TMPL_VAR PAGEURL></link>
<TMPL_IF COPYRIGHT>
<copyright><TMPL_VAR COPYRIGHT ESCAPE=HTML></copyright>
</TMPL_IF>
<description><TMPL_VAR FEEDDESC ESCAPE=HTML></description>
<generator>ikiwiki</generator>
<pubDate><TMPL_VAR FEEDDATE_822></pubDate>
<TMPL_VAR CONTENT>
</channel>
</rss>
